@font-face {
  font-family: "Gotham";
  src: url("../../assets/fonts/gotham_medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("../../assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Semibold";
  src: url("../../assets/fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.gpt {
  padding: 90px 36px 295px;
  position: relative;
}

.gpt__img {
  position: absolute;
  right: 0;
  top: 22px;
  width: 55%;
}

.gpt__title {
  position: relative;
  z-index: 10;
  font-size: 36px;
  margin-bottom: 12px;
}

.gpt__yellow {
  color: #e7cf3a;
}

.gpt__text {
  font-size: 20px;
  margin-bottom: 48px;
  font-family: "Gilroy Medium";
}

.gpt__yellow-text {
  color: #fee440;
  font-family: "Gilroy Bold";
}

.gpt__buttons {
  display: flex;
  align-items: center;
}

.gpt__btn {
  width: fit-content;
  padding: 18px 38px;
  border-radius: 30px;
  background: #fee440;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.5s;
}

.gpt__btn-transparent {
  width: fit-content;
  padding: 18px 70px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #969696;
  cursor: pointer;
  transition: all 0.5s;
}

.gpt__btn:hover,
.gpt__btn-transparent:hover {
  opacity: 0.7;
}

.statistics {
  padding: 141px 36px 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics__block {
  margin-bottom: 94px;
  position: relative;
}

.statistics__block img {
  margin-right: 98px;
  width: 25vw;
  z-index: 10;
}

.statistics__text {
  font-size: 48px;
  z-index: 10;
}

.statistics__grey {
  font-size: 300px;
  color: #acacac;
  position: absolute;
  left: calc(25vw - 7%);
}

.statistics__subtext {
  font-size: 48px;
  margin-top: 114px;
  text-align: center;
}

.statistics__subtext__grey {
  font-size: 300px;
  color: #acacac;
  line-height: 240px;
  margin: 16px 0;
}

.profits {
  padding: 84px 36px 125px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.profits img {
  width: 100%;
}

.profits__title {
  font-size: 24px;
}

.profits__yellow {
  color: #fee440;
}

.profits__text {
  margin-top: 15px;
  font-family: "Gilroy";
  font-size: 16px;
}

.profits__text:not(:last-child) {
  margin-bottom: 47px;
}

.profits__text-yellow {
  font-family: "Gilroy Semibold";
  font-size: 16px;
  color: #fee440;
}

.profits__lang {
  display: flex;
  gap: 6px;
  align-items: center;
}

.profits__lang .glass-block {
  color: #35e94a;
  font-size: 12px;
  padding: 8px 12px;

  border: 1px solid #f2f2f2;
  border-radius: 20px;

  background: #fefefe;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(242, 242, 242, 0.1);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08),
    inset 0 0 10px rgba(254, 254, 254, 0.05);
}

.integrations {
  padding: 42px 36px 131px;
}

.integrations__dark,
.dark-theme .integrations__img {
  display: none;
}

.dark-theme .integrations__dark {
  display: block;
}

.integrations__title {
  font-size: 40px;
  margin-bottom: 20px;
}

.integrations__holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.integrations__left {
  display: grid;
  gap: 20px;
}

.integrations__block {
  background: #f5f5f5;
  padding: 42px 32px;
  border-radius: 20px;
}

.integrations__text {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 24px;
  font-family: sans-serif;
  font-family: "Gotham", sans-serif;
  border-radius: 20px;
}

.integrations__block img {
  width: 50%;
}

.integrations__right {
  display: grid;
  gap: 8px;
}

.integrations__right img {
  width: 60%;
}

.report {
  padding: 110px 36px;
  display: flex;
  flex-direction: column;
}

.report__blocks {
  display: flex;
  gap: 12px;
  margin: 13px 0 43px;
  font-size: 24px;
}

.report__blocks .glass-block {
  display: flex;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  padding: 16px 17px;

  background: #fefefe;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(242, 242, 242, 0.1);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08),
    inset 0 0 10px rgba(254, 254, 254, 0.05);
}

.report__blocks .glass-block img {
  width: 32px;
  margin-right: 10px;
}

.report__title {
  width: 100%;
  font-size: 48px;
}

.report__yellow {
  color: #fee440;
}

.report__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 37px;
}

.report__card {
  padding: 24px 12px;
  border-radius: 20px;
  border: 1px solid #858585;
}

.report img {
  width: 60%;
  margin: 0 auto;
}

.report__card__title {
  font-size: 20px;
  margin-bottom: 14px;
}

.report__card__yellow {
  color: #fee440;
}

.report__card__text {
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
}

.service {
  padding: 62px 36px 88px;
}

.service__title {
  font-size: 48px;
  margin-bottom: 33px;
}

.service__yellow {
  color: #fee440;
}

.service__blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.service__block {
  border-radius: 40px;
  border: 1px solid #1a1a1a;
  padding: 70px 32px 49px;
}

.dark-theme .service__block {
  border: 1px solid #f2f2f2;
}

.service__block-yellow {
  border-radius: 40px;
  background: #fee440;
  padding: 70px 32px 49px;
}

.service__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.service__block,
.service__block-yellow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service__block img {
  width: 130px;
}

.service__block-yellow img {
  width: 160px;
}

.header__title {
  font-size: 20px;
  padding: 24px;
  border-radius: 20px;
  background: #f5f5f5;
  margin-left: 14px;
}

.service__text {
  display: grid;
  gap: 16px;
  margin-bottom: 110px;
}

.service__text-item {
  padding: 16px;
  width: 100%;
  border-radius: 20px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.text-item__text {
  font-family: "Gilroy Medium", sans-serif;
  margin-left: 16px;
  font-size: 20px;
}

.service__btn-yellow {
  font-size: 24px;
  padding: 24px;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 30px;
  background: #fee440;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__btn {
  font-size: 24px;
  padding: 24px;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 30px;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fefefe;
}

.service__btn-yellow:hover,
.service__btn:hover {
  opacity: 0.7;
}

.reviews {
  font-size: 96px;
  padding: 48px 0 105px 36px;
  overflow: hidden;
}

.reviews__holder {
  display: flex;
}

.review {
  cursor: pointer;
  transition: all 0.5s;
  flex: 0 0 443px;
  height: 592px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;

  background-image: url("../crm/img/review.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.review:hover {
  opacity: 0.7;
}

.review__play {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.reviews__title {
  font-size: 48px;
  margin-bottom: 33px;
}

.reviews__yellow {
  color: #fee440;
}

.dark-theme .glass-block {
  background: rgba(254, 254, 254, 0.2);
  box-shadow: inset 0 0 25px rgba(254, 254, 254, 0.08),
    inset 0 0 40px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-content-mobile,
.profits-img-mobile,
.profits-img-mobile__dark {
  display: none;
}

.report-block-img,
.report-block-img-mobile {
  width: 27px;
}

.report-block-img-white,
.dark-theme .report-block-img,
.text-item__text-mobile {
  display: none;
}

.dark-theme .report-block-img-white {
  display: block;
}

@media (max-width: 1000px) {
  .text-item__text-mobile {
    display: block;
    margin-bottom: 8px;
    text-align: center;
    font-size: 24px;
  }

  .dark-theme .profits-img,
  .test-btn-text {
    display: none;
  }

  .service__btn-yellow,
  .service__btn {
    padding: 18px 0;
    font-size: 16px;
  }

  .profits-img-mobile {
    display: block;
  }

  .dark-theme .profits-img-mobile__dark {
    display: block;
  }

  .gpt {
    padding: 0 10px 53px;
  }

  .gpt__title {
    font-size: 20px;
  }

  .gpt__text {
    font-size: 14px;
    margin-top: 8px;
  }

  .gpt__img {
    position: static;
    width: 100%;
  }

  .gpt__btn {
    margin: 0;
  }

  .gpt__btn-transparent,
  .gpt__btn {
    width: 100%;
    padding: 18px 0;
    text-align: center;
  }

  .gpt__buttons {
    flex-direction: column;
    gap: 8px;
  }

  .logo-content {
    display: none;
  }

  .logo-content-mobile {
    display: block;
    width: 50%;
  }

  .statistics {
    padding: 19px 10px 99px;
  }

  .statistics__block img {
    margin: 0 0 140px 0;
  }

  .statistics__block {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .statistics__text {
    font-size: 36px;
    width: 50%;
  }

  .statistics__grey {
    left: 50%;
    transform: translateX(-50%);
    top: -6%;
  }

  .statistics__subtext {
    margin-top: 48px;
    font-size: 32px;
  }

  .statistics__subtext__grey {
    font-size: 116px;
    margin: 0;
    line-height: 100%;
  }

  .profits {
    padding: 34px 10px 104px;
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  .profits__title {
    font-size: 20px;
  }

  .profits__text {
    margin: 12px 0 24px;
    font-size: 14px;
  }

  .profits img {
    width: 150%;
  }

  .integrations {
    padding: 42px 10px 62px;
  }

  .integrations__title {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .integrations__holder {
    grid-template-columns: 1fr;
    gap: 14px;
  }

  .integrations__left {
    gap: 14px;
  }

  .integrations__block {
    padding: 42px 35px 95px 24px;
  }

  .integrations__text {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .integrations__right {
    gap: 14px;
  }

  .integrations__right img {
    width: 100%;
  }

  .reviews {
    padding: 32px 0 32px 10px;
    font-size: 32px;
  }

  .reviews__title {
    margin-bottom: 24px;
  }

  .reviews__holder {
    margin-top: 14px;
  }

  .review {
    height: 273px;
    flex: 0 0 182px;
  }

  .review__text {
    left: 13px;
    top: 14px;
  }

  .review__play img {
    width: 40%;
  }

  .report {
    padding: 42px 10px 83px;
    overflow: hidden;
  }

  .report__title {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .report__blocks {
    margin: 14px 0 24px;
    flex-direction: column;
  }

  .report img {
    margin: 0;
  }

  .report__blocks .glass-block {
    justify-content: center;
    padding: 18px 30px;
  }

  .report__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 51px;
  }

  .report__card__title {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .report__card__text {
    font-size: 14px;
  }

  .report > img {
    width: 150%;
  }

  .service {
    padding: 42px 10px 106px;
  }

  .service__title {
    font-size: 32px;
  }

  .service__blocks {
    grid-template-columns: 1fr;
  }

  .service__block,
  .service__block-yellow {
    padding: 42px 12px 12px;
  }

  .service__header {
    flex-direction: column;
  }

  .header__title {
    margin: 14px 0 0 0;
    width: 100%;
    text-align: center;
  }

  .service__text-item {
    flex-direction: column;
  }

  .text-item__text {
    font-size: 16px;
    margin: 8px 0 0 0;
  }

  .service__text {
    margin-bottom: 52px;
  }
}
