body {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Semibold";
  src: url("../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "proxima-nova-extra-wide", sans-serif;
  background: #fefefe;
  color: #1a1a1a;
}

* a {
  text-decoration: none;
  color: #1a1a1a;
  font-family: "proxima-nova-extra-wide", sans-serif;
  transition: all 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark-theme {
  background: #1a1a1a;
}

.dark-theme .dark-theme-text {
  color: #fefefe;
}

.dark-theme .dark-theme-text-light-white {
  color: #fbfbfb;
}

.dark-theme .dark-theme-text-creamy {
  color: #f2f2f2;
}

.dark-theme .dark-theme-text-yellow {
  color: #fee440;
}

.dark-theme .dark-theme-text-dark-grey {
  color: #484848;
}

.dark-theme .dark-theme-text-grey {
  color: #acacac;
}

.dark-theme .dark-theme-text-black {
  color: #1a1a1a;
}

.dark-theme .dark-theme-text-light-yellow {
  color: #fff3a7;
}

.dark-theme .header__nav a {
  color: #fefefe;
}

.dark-theme .footer svg {
  fill: #fefefe;
}

.dark-theme .block-white {
  background: #f2f2f2;
}

.dark-theme .text-black {
  color: #1a1a1a;
}

.header {
  padding: 22px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-bold {
  text-transform: uppercase;
  font-weight: 700;
}

.text-semibold {
  text-transform: uppercase;
  font-weight: 600;
}

.header__nav a {
  font-family: "Gilroy", sans-serif;
  font-size: 20px;
  margin-right: 52px;
}

.header__nav a:hover {
  opacity: 0.4;
}

.toggle {
  width: 145px;
  height: 57px;
  background: #f1f1f1;
  border-radius: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 27px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  margin-right: 12px;
}

.toggle__icon {
  font-size: 28px;
  z-index: 1;
  transition: color 0.3s;
}

.highlight {
  position: absolute;
  width: 67px;
  height: 45px;
  border-radius: 26px;
  background: #ffe44d;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  transition: left 0.3s;
}

.toggle.night .highlight {
  left: calc(100% - 72px);
}

.nightBtn {
  background: #fde43e;
  color: #1a1a1a;
}

.call-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 50px;
  border: 1px solid #1a1a1a;
  border-radius: 40px;
}

.call-btn:hover {
  border: 1px solid #fde43e;
  background: #fde43e;
}

.call-btn__svg {
  margin-right: 8px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 36px 111px;
  font-family: "Gilroy Semibold", sans-serif;
}

.footer .social-item {
  display: flex;
  align-items: center;
}

.footer .social-item img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.footer .qr {
  width: 170px;
}

.social-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-logo {
  display: block;
  margin-bottom: 26px;
}

.footer__contacts {
  text-align: right;
}

.footer__phone {
  margin: 12px 0;
}

.flex {
  display: flex;
  align-items: center;
}

.glass {
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fefefe;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-33 {
  margin-bottom: 33px;
}

.footer__contacts-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .header .call-btn,
  .header .header__nav {
    display: none;
  }

  .header {
    padding: 30px 20px;
  }

  .footer {
    padding: 5px 10px 39px 10px;
  }

  .footer__contacts {
    display: none;
  }

  .footer__contacts-mobile {
    display: block;
    margin-top: 23px;
    font-size: 12px;
  }

  .footer-logo {
    margin-bottom: 23px;
  }

  .social-item {
    font-size: 12px;
  }

  .social-item:not(:last-child) {
    margin-bottom: 2px;
  }

  .footer__phone {
    margin: 5px 0;
  }

  .footer .qr {
    width: 35%;
  }
}
